@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex {
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark01 {
    color: rgba(19, 19, 19, 1);
}
.dark02 {
    color: rgba(66, 66, 66, 1);
}
.dark03 {
    color: rgba(114, 114, 114, 1);
}
.orange{
    color: rgba(255, 144, 14, 1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;

}
main > section{
    margin-top: 150px;
}

/* Header Styles */

/* Navbar related styles */
.logo{
    width: 100px;
    height: 100px;
}
.navbar {
    justify-content: space-between;
    gap: 673px;
    align-items: center;
    padding: 15px;
    margin-left: 230px;
    margin-right: 230px;
}
.nav-links {

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    font-weight: 500;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner Related Styles */
.banner-content {
    max-width: 861px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
}
.banner-description {
    margin-bottom: 32px;
}
.banner-image {
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}
/* Team and Feature Styles */
.teams{
    align-items: center;
}
#quick-list{
    font-size: 2.8rem;
    font-weight: 500;
}
#ftr, #of-our{
    font-size: 2.8rem;
    font-weight: 700;
}
.team-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    margin-left: 130px;
    max-width: 530px;
}
/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
        gap: 20px;
    }
}